.contentbox {

}
.contentbox .contenter {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.icon_fav {
    position: fixed;
    left: 0;
    bottom: 0;
    cursor: pointer;
    width: 14.73%;
}
.favbox {
    display: none;
    position: absolute;
    width: 61.13%;
    height: 30.7%;
    bottom: 37%;
    left: 50%;
    margin-left: -30.55%;
    z-index: 1;
    background: url("../images/book/book_fav_bg.png");
    background-size: 100% 100%;
}
.favbox .favbox_close {
    display: block;
    float: right;
    clear: both;
    width: 12.5%;
    margin-top: 6%;
    margin-right: 7%;
}

/********************************followus********************************/
.followus {
    display: none;
    position: absolute;
    width: 61.13%;
    height: 53%;
    background: url("../images/followus/followus_bg.png");
    background-size: 100% 100%;
    left: 50%;
    margin-left: -30.55%;
    margin-top: 45%;
}
.followus .followus_close {
    display: block;
    float: right;
    clear: both;
    width: 12.5%;
    margin-top: 6%;
    margin-right: 7%;
}
.followus .followus_qrcode {
    display: block;
    margin: 0 auto;
    margin-top: 21%;
    width: 73.28%;
    height: 71.64%;
}

/********************************notice********************************/
.notice {
    position: absolute;
    font-size: 81%;
    bottom: 1.5%;
    color: #FFFFFF;
    left: 12.5%;
    width: 75%;
    text-align: center;
}

/********************************mainview********************************/
.mainbox {
    width: 100%;
    height: 100%;
    background: url("../images/main_bg.gif");
    background-size: 100% 100%;
}
.mainbox .followuslink {
    display: block;
    position: absolute;
    background: transparent;
    cursor: pointer;
    background: rgba(0,0,0,0);
    width: 22%;
    height: 9%;
    left: 44%;
    top: 42.5%;
}
.mainbox .startread {
    display: block;
    position: absolute;
    background: transparent;
    cursor: pointer;
    background: rgba(0,0,0,0);
    width: 30%;
    height: 7.5%;
    left: 35%;
    top: 83.5%;
}

/********************************book********************************/
.bookbox {
    width: 100%;
    height: 100%;
    background: url("../images/book/book_bg.png");
    background-size: 100% 100%;
}
.bookbox img.icon_aboutus {
    position: absolute;
    width: 53.13%;
    bottom: 7%;
    left: 50%;
    margin-left: -26.55%;
}
.bookbox ul.book_links {
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 75%;
    bottom: 25%;
    left: 12.5%;
}
.bookbox ul.book_links li {
    display: block;
    float: left;
    width: 26%;
    overflow: hidden;
    margin: 0 3.66%;
}
.bookbox ul.book_links li img.section_img {
    display: block;
    width: 100%;
    height: 100%;
}

/********************************book-chapterbox********************************/
.chapterbox {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(35, 24, 21, 0.8);
    background-size: 100% 100%;
    z-index: 10;
}
.chapterbox .chapterhead {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 11;
}
.chapterbox .chapterbox_close {
    display: block;
    float: right;
    width: 8%;
    margin-top: 9%;
    margin-right: 5%;
}
.chapterbox img.chapterbox_fav {
    display: block;
    float: left;
    width: 17.33%;
    margin-left: 12%;
    margin-top: 11%;
}
.chapterbox img.chapterbox_bust {
    display: block;
    float: left;
    width: 51.8%;
    margin-left: 5%;
    margin-top: 9%;
}
.chapterbox ul.chapterlist {
    position: relative;
    display: block;
    clear: both;
    overflow-y: auto;
    width: 87%;
    height: 70%;
    list-style-type: none;
    margin-top: -4.5%;
    left: 6.4%;
}
.chapterbox ul.chapterlist li {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 1.5%;
    text-align: center;
}
.chapterbox ul.chapterlist li img.icon {
    width: 100%;
    display: block;
}
.chapterbox ul.chapterlist li img.icon_trans {
    position: absolute;
    z-index: 99;
}

/********************************aboutus********************************/
.aboutus {
    width: 100%;
    height: 100%;
    background: url("../images/aboutus/aboutus_bg.png");
    background-size: 100% 100%;
}
.aboutus img.icon_home {
    position: absolute;
    width: 26.93%;
    bottom: 10%;
    left: 50%;
    margin-left: -13.465%;
}
.aboutus .notice {
    position: absolute;
    font-size: 81%;
    bottom: 1.35%;
    color: #515151;
    left: 13.5%;
    width: 73%;
    text-align: center;
}
.aboutus .followus {
    display: block;
    position: absolute;
    width: 57.5%;
    background-size: 100% 100%;
    left: 50%;
    margin-left: -28.75%;
    margin-top: 27%;
    background: transparent;
}
.aboutus .followus .followus_qrcode {
    display: block;
    margin: 0 auto;
    width: 73.28%;
    height: 71.64%;
}
.aboutus .aboutus_text_box {
    display: block;
    position: absolute;
    background: rgba(0,0,0,0);
    width: 64%;
    height: 10%;
    bottom: 21%;
    left: 50%;
    margin-left: -32%;
    overflow: hidden;
}
.aboutus .aboutus_text_box ul {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.aboutus .aboutus_text_box ul li {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.aboutus .aboutus_text_box img.aboutus_text {
    width: 100%;
}

/********************************chapter********************************/
.chaptercontainer {
    width: 100%;
    height: 100%;
    background: url("../images/chapter/chapter_bg.png");
    background-size: 100% 100%;
}
.chaptercontainer img.icon_section {
    position: absolute;
    width: 37.13%;
    bottom: 71%;
    left: 50%;
    margin-left: -18%;
}
.chaptercontainer img.icon_home {
    position: absolute;
    width: 26.93%;
    bottom: 10%;
    left: 50%;
    margin-left: -13.465%;
}
.chaptercontainer .notice {
    position: absolute;
    font-size: 81%;
    bottom: 1.5%;
    color: #515151;
    left: 13.5%;
    width: 73%;
    text-align: center;
}

/********************************device********************************/
@media (min-width: 320px) {
    .notice {
        font-size: 75%;
    }
}
@media (min-width: 375px) {
    .notice {
        font-size: 81%;
    }
}
@media (min-width: 414px) {
    .notice {
        font-size: 86%;
    }
}
@media (min-width: 435px) {
    .notice {
        font-size: 90%;
    }
}