.contentbox {

}
.contentbox .contenter {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/********************************mainview********************************/
.followus {
    position: absolute;
    display: block;
    left: 50%;
}
/********************************mainview********************************/
.mainbox {
    width: 100%;
    height: 100%;
    background: url("../images/main_bg.gif");
    background-size: 100% 100%;
}
.mainbox .followuslink {
    position: absolute;
    background: transparent;
    cursor: pointer;
}

/********************************device********************************/
@media (min-width: 414px) {
    .mainbox .followuslink {
        width: 50px;
        height: 50px;
        top: 70px;
        left: 70px;
    }
}
@media (min-width: 375px) {
    .mainbox .followuslink {
        width: 50px;
        height: 50px;
        top: 70px;
        left: 70px;
    }
}
@media (min-width: 320px) {
    .mainbox .followuslink {
        width: 50px;
        height: 50px;
        top: 70px;
        left: 70px;
    }
}