.contentbox {

}
.contentbox .contenter {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/********************************followus********************************/
.followus {
    display: none;
    position: absolute;
    width: 61.13%;
    height: 50.11%;
    background: url("../images/followus/followus_bg.png");
    background-size: 100% 100%;
    left: 50%;
    margin-left: -30.55%;
    margin-top: 52.5%;
}
.followus .followus_close {
    display: block;
    float: right;
    clear: both;
    width: 13.74%;
    margin-top: 6%;
    margin-right: 7%;
}
.followus .followus_qrcode {
    display: block;
    margin: 0 auto;
    margin-top: 21%;
    width: 73.28%;
    height: 71.64%;
}

/********************************notice********************************/
.notice {
    position: absolute;
    font-size: 81%;
    bottom: 1.83%;
    color: #FFFFFF;
    left: 12.5%;
    width: 75%;
    text-align: center;
}

/********************************mainview********************************/
.mainbox {
    width: 100%;
    height: 100%;
    background: url("../images/main_bg.gif");
    background-size: 100% 100%;
}
.mainbox .followuslink {
    display: block;
    position: absolute;
    background: transparent;
    cursor: pointer;
    background: rgba(0,0,0,0);
    width: 22%;
    height: 9%;
    left: 44%;
    top: 42.5%;
}

/********************************device********************************/
@media (min-width: 320px) {
    .notice {
        font-size: 75%;
    }
}
@media (min-width: 375px) {
    .notice {
        font-size: 81%;
    }
}
@media (min-width: 414px) {
    .notice {
        font-size: 86%;
    }
}
@media (min-width: 435px) {
    .notice {
        font-size: 90%;
    }
}