<div class="page aboutus">
	<div class="followus">
		<img src="images/aboutus/followus_qrcode.png" class="followus_qrcode">
	</div>
	<div class="aboutus_text_box">
		<ul>
			<li><img src="images/aboutus/aboutus_text.png" class="aboutus_text"></li>
			<li><img src="images/aboutus/aboutus_text.png" class="aboutus_text"></li>
			<li><img src="images/aboutus/aboutus_text.png" class="aboutus_text"></li>
		</ul>
	</div>
	<a href="#/"><img src="images/aboutus/icon_home.png" class="icon_home"></a>
	<div ng-include="'views/notice.html'"></div>
</div>