<div class="page aboutus">
    <img src="Mobile/images/aboutus/aboutus_logo.png" class="aboutus_logo">
	<div class="followus">
		<img src="Mobile/images/aboutus/followus_qrcode.png" class="followus_qrcode">
	</div>
	<img src="Mobile/images/aboutus/aboutus_text_s.png" class="aboutus_text_s">
	<div class="aboutus_texts">
		<div class="aboutus_text_box">
			<ul>
				<li><img src="Mobile/images/aboutus/aboutus_text.png" class="aboutus_text"></li>
				<li><img src="Mobile/images/aboutus/aboutus_text.png" class="aboutus_text"></li>
			</ul>
		</div>
	</div>
	<a href="#/"><img src="Mobile/images/aboutus/icon_home.png" class="icon_home"></a>
    <img src="Mobile/images/copyright_text_yellow.png" class="notice">
</div>