<div class="page bookbox">
    <div id="FavBox" class="favbox">
        <img src="images/followus/followus_close.png" class="favbox_close" ng-click="hideFav($event)">
    </div>
    <ul class="book_links">
        <li style="margin-bottom: 4%;"><a href="javascript:;" ng-click="showBookChapter($event,1)"><img src="images/book/book_link_zrzh.png" class="section_img"></a></li>
        <li style="margin-bottom: 4%;"><a href="javascript:;" ng-click="showBookChapter($event,2)"><img src="images/book/book_link_sgzh.png" class="section_img"></a></li>
        <li style="margin-bottom: 4%;"><a href="javascript:;" ng-click="showBookChapter($event,3)"><img src="images/book/book_link_shaq.png" class="section_img"></a></li>
        <li><a href="javascript:;" ng-click="showBookChapter($event,4)"><img src="images/book/book_link_ywsh.png" class="section_img"></a></li>
        <li><a href="javascript:;" ng-click="showBookChapter($event,5)"><img src="images/book/book_link_ggws.png" class="section_img"></a></li>
        <li><a href="javascript:;" ng-click="showBookChapter($event,6)"><img src="images/book/book_link_yjcs.png" class="section_img"></a></li>
    </ul>
    <a href="#/aboutus"><img src="images/book/icon_aboutus.png" class="icon_aboutus"></a>
    <img src="images/book/icon_fav.png" class="icon_fav" ng-click="showFav($event)">
    <div ng-include="'views/notice.html'"></div>
</div>
<div id="ChapterBox" class="page chapterbox">
    <div class="chapterhead">
        <img src="images/book/icon_fav_b.png" class="chapterbox_fav">
        <img src="images/book/bust.png" class="chapterbox_bust">
        <img src="images/followus/followus_close.png" class="chapterbox_close" ng-click="hideChapterbox($event)">
    </div>
    <ul class="chapterlist">
        <li>
            <a href="#/chapter/bookid/1/chapterid/1"><img src="images/book/chapterlist_icon_trans.png" class="icon icon_trans"></a>
            <img src="images/book/chapterlist_icon1.png" class="icon">
        </li>
        <li>
            <a href="#/chapter/bookid/1/chapterid/2"><img src="images/book/chapterlist_icon_trans.png" class="icon icon_trans"></a>
            <img src="images/book/chapterlist_icon2.png" class="icon">
        </li>
        <li>
            <a href="#/chapter/bookid/1/chapterid/3"><img src="images/book/chapterlist_icon_trans.png" class="icon icon_trans"></a>
            <img src="images/book/chapterlist_icon3.png" class="icon">
        </li>
        <li>
            <a href="#/chapter/bookid/1/chapterid/4"><img src="images/book/chapterlist_icon_trans.png" class="icon icon_trans"></a>
            <img src="images/book/chapterlist_icon4.png" class="icon">
        </li>
        <li>
            <a href="#/chapter/bookid/1/chapterid/5"><img src="images/book/chapterlist_icon_trans.png" class="icon icon_trans"></a>
            <img src="images/book/chapterlist_icon5.png" class="icon">
        </li>
        <li>
            <a href="#/chapter/bookid/1/chapterid/1"><img src="images/book/chapterlist_icon_trans.png" class="icon icon_trans"></a>
            <img src="images/book/chapterlist_icon6.png" class="icon">
        </li>
        <li>
            <a href="#/chapter/bookid/1/chapterid/1"><img src="images/book/chapterlist_icon_trans.png" class="icon icon_trans"></a>
            <img src="images/book/chapterlist_icon7.png" class="icon">
        </li>
        <li>
            <a href="#/chapter/bookid/1/chapterid/1"><img src="images/book/chapterlist_icon_trans.png" class="icon icon_trans"></a>
            <img src="images/book/chapterlist_icon8.png" class="icon">
        </li>
        <li>
            <a href="#/chapter/bookid/1/chapterid/1"><img src="images/book/chapterlist_icon_trans.png" class="icon icon_trans"></a>
            <img src="images/book/chapterlist_icon9.png" class="icon">
        </li>
        <li>
            <a href="#/chapter/bookid/1/chapterid/1"><img src="images/book/chapterlist_icon_trans.png" class="icon icon_trans"></a>
            <img src="images/book/chapterlist_icon10.png" class="icon">
        </li>
    </ul>
</div>