<div class="page bookbox">
    <ul class="book_links">
        <li style="margin-bottom: 3%;"><a href="#/book/section/1"><img src="images/book/book_link_zrzh.png" class="section_img"></a></li>
        <li style="margin-bottom: 3%;"><a href="#/book/section/1"><img src="images/book/book_link_zrzh.png" class="section_img"></a></li>
        <li style="margin-bottom: 3%;"><a href="#/book/section/1"><img src="images/book/book_link_zrzh.png" class="section_img"></a></li>
        <li><a href="#/book/section/1"><img src="images/book/book_link_zrzh.png" class="section_img"></a></li>
        <li><a href="#/book/section/1"><img src="images/book/book_link_zrzh.png" class="section_img"></a></li>
        <li><a href="#/book/section/1"><img src="images/book/book_link_zrzh.png" class="section_img"></a></li>
    </ul>
    <img src="images/book/book_start.png" class="icon_book_start">
    <img src="images/book/icon_fav.png" class="icon_fav">
    <div ng-include="'views/notice.html'"></div>
</div>