<div class="page chaptercontainer">
    <div id="FavBox" class="favbox">
        <img src="images/followus/followus_close.png" class="favbox_close" ng-click="hideFav($event)">
    </div>
    <a href="#/book"><img src="images/chapter/icon_section.png" class="icon_section"></a>
	<div class="chaptercontent">
		
	</div>
	<img src="images/book/icon_fav.png" class="icon_fav" ng-click="showFav($event)">
	<a href="#/"><img src="images/aboutus/icon_home.png" class="icon_home"></a>
	<div ng-include="'views/notice.html'"></div>
</div>