<div class="page chaptercontainer" style="background: url({{$chaptercontent.chapter.chapterbg}}); background-size: 100% 100%;">
    <a href="#/" class="logolink"></a>
    <div class="chapter_content_bg" style="background: url({{$chaptercontent.chapter.contentbg}}) no-repeat; background-size: 100% auto; background-position: center center;"></div>
    <div id="FavBox" class="favbox" ng-click="hideFav($event)">
        <!-- <img src="Mobile/images/followus/followus_close.png" class="favbox_close" ng-click="hideFav($event)"> -->
        <img src="Mobile/images/book/book_fav_bg.png" class="favbox_text">
    </div>
    <a href="#/book" class="icon_section"></a>
	<div class="chaptercontent">
        <div id="ContentBox" class="contentbox">
            <div class="content_tab">
                <div class="content_tab_item" ng-repeat="$content in $chaptercontent.content">
                    <img ng-src="{{$content.titleicon}}" class="content_tab_item_img {{$content.iconclass}}" ng-click="showChapterContent($event)">
                    <img ng-src="{{$content.titleiconhover}}" class="content_tab_item_img_hover {{$content.iconhoverclass}}">
                </div>
            </div>
            <div class="content_body">
                <div class="content_body_item {{$content.contentclass}}" ng-repeat="$content in $chaptercontent.content">
                    <div ng-bind-html="$content.content"></div>
                    <div style="width: 100%; height: 10px; line-height: 10px;"></div>
                </div>
            </div>
        </div>
	</div>
	<img src="Mobile/images/book/icon_fav.png" class="icon_fav" ng-click="showFav($event)">
	<a href="#/book/bookid/{{bookid}}"><img src="Mobile/images/chapter/icon_home.png" class="icon_home"></a>
    <img src="Mobile/images/copyright_text_yellow.png" class="notice">
</div>
<style type="text/css" media="screen">
.logolink {
    display: block;
    position: absolute;
    width: 85%;
    height: 8%;
    top: 8.5%;
    left: 7.5%;
    /*background: rgba(0,0,0, 0.5);*/
    background: none;
}
</style>